   .wynn-bg {
                background-image: url("https://cdn.wynncraft.com/nextgen/bg.webp");
            }
            .preloader {
                position: fixed;
                z-index: 100000;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                display:flex;
                justify-content: center;
                flex-direction: row;
                background-color: rgb(46, 46, 46);
            }
            .preloader-container {
                height: 100%;
                display:flex;
                justify-content: center;
                flex-direction: column;
            }
